<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{- if .IsHome -}}
      {{ .Site.Title }}
    {{- else -}}
      {{ .Title }} · {{ .Site.Title }}
    {{- end -}}
  </title>
  <meta name="description" content="{{ .Description | default .Site.Params.description }}">
  <link rel="stylesheet" href="/css/style.css">
  <!-- Google AdSense -->
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8401259723575616" crossorigin="anonymous"></script>
</head>
